body {
    font-family: "Arial", sans-serif;
    font-size: 21px;
    margin: 0 15%;
    background-image: linear-gradient( 0deg, #cd8200, #f3d87f);
}

p {
    text-align: justify;
}

.curiosidade {
    background-image: url("./imgs/favo-de-mel.png");
    border-width: 1px;
    margin-right: 20px;
    padding: 15px;
    border-style: solid;
    border-color: darkorange;
    border-radius: 15px;
}

.curiosidade img {
    margin-right: 20px;
    float: left;
}

.casta-de-abelha {
    border-radius: 50%;
    border-width: 5px;
    border-color: darkorange;
    border-style: solid;
}

.direita {
    float: right;
    margin-left: 20px;
}

.esquerda {
    float: left;
    margin-right: 20px;
}

#cabecalho {
    background-color: #ffffff30;
    box-shadow: 4px 4px 4px #0003;
    padding: 30px;
}

#cabecalho img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: yellowgreen;
    text-decoration: underline;
}

a:hover {
    color: #f8ff97;
}

a:active {
    color: #ff7000;
}

a:visited {
    color: #5a220b;
}

a[href^="http"] {
  color: darkcyan;  /* [c] */
}

p:last-of-type {
    text-align: right;
}

img:not([alt]) {
    border-width: 1px;
    border-color: red;
}
